h2 {
  margin: 32px 0 8px !important;
}

h5 {
  color: grey;
}

p {
  padding: 0 8px !important;
  color: grey;
}

#about-me {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
}

#about-header {
  display: flex;
  align-items: center;
}

#about-title {
  padding-left: 80px;
  max-width: 100%;
}

.portrait img {
  padding-left: 8px;
  max-width: 100%;
  height: auto;
}
