form {
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.title-text {
  color: white;
}

.form-container {
  margin-top: 24px;
}

.row-container {
  width: 83.33%;
  width: 100%;
}

.col-container-left {
  margin-inline-end: 24px;
}

.col-container-right {
  margin-inline-start: 24px;
}

.col-container-checkbox {
  margin-inline-start: 24px;
  display: flex !important;
  align-items: center !important;
}

.form-group {
  margin-bottom: 16px;
}

.label-container {
  color: white;
}

.label-checkbox {
  color: white;
  margin-inline-start: 8px;
  margin-top: 16px;
}

#textarea {
  width: 100% !important;
}

.btn-submit {
  width: 25%;
  margin-inline-end: auto;
  margin-inline-start: auto;
}
