li a {
  text-decoration: none !important;
  color: blue !important;
}

h5 {
  color: black;
  text-transform: uppercase;
}

.footer-container {
  text-align: center;
  background-color: lightgrey;
}

.link-list {
  list-style: none;
  padding: 8px;
}
