img {
  height: 300px;
  margin: 16px auto;
}

/* .header-container {
  background-color: black;
  color: white;
}

p {
  color: white;
}

.modal-container {
  background-color: black !important;
}

.body-container {
  background-color: black;
}

.footer-container {
  background-color: black;
} */
