.add-remove-btn {
  padding: 5px, 50px;
  margin-top: 10px;
  width: 160px;
}

.card-container {
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-col {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.card-item-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 8px;
}

.card-img {
  object-fit: contain;
  padding: 10px;
  height: 150px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(222, 222, 222, 0.5) !important; */
}

.card-title {
  display: flex;
  padding-bottom: 24px;
  color: white;
}

.card-title-span {
  font-size: 32px;
}

.quantity-span {
  font-size: 24px;
  color: white;
}

.body-span {
  margin-inline-start: 8px;
  color: white;
}

.items-span {
  color: white;
}

.add-remove {
  margin-top: auto;
}

.read-link {
  color: black;
}
