#row-container {
  row-gap: 16px;
  margin: 8px 0;
  padding: 16px 0;
}

#container-col {
  width: 83.33%;
}

#technical-info {
  color: black;
}

#passion-info {
  color: black;
}

#hobby-info {
  color: black;
}
