.modal-overlay {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 100%;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  overflow: auto;
  display: block;
  background: white;
  width: 50%;
  height: 70%;
  padding: 1rem;
  border-radius: 1rem;
}

.cart-title {
  text-align: center;
}
